{% extends "base_dashboard.html" %}

{% block content %}


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Building Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}


            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{property.title}}
                </td>
                <td class="px-6 py-4">
                    {{property.address}}
                </td>
                <td class="px-6 py-4">
                    {{property.description}}
                </td>
                <td class="px-6 py-4">
                    BDT {{property.price}}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'edit_property' property.id %}"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> |
                    <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>



{% endblock content %}